//VARIABLES
colorHeader = #303032
colormistech = #e25740
colorNotiOtNoti = #f2f2f2
colorenterBtn = #565656
colorFoo = #303133
colorOtraNoti = #575757
colorMisiTechEnter = #ffffff
madecolor =#535353
otros = #e4e4e4
btniwp =#e25740
control = #bebec0
noti = #919191
enterye = #fefefe
foo = #bebebe
txt1enter = #d2d2d2

//ID´s
#header
	background colorHeader
#logo 
	margin-top 50px
#menu
	margin-top 35px		
	font-size 20px
	font-family 'Varela Round', sans-serif
	padding 0
	.item
		a
			color colorMisiTechEnter
			cursor pointer
			text-transform uppercase
#txt_btn
	margin-top 145px
#txt
	font-family 'Varela Round', sans-serif	
	font-size 28px
	color control
#btn
	font-size 12px
	background btniwp
	padding 1em 2em 1em 2em
	color otros
	text-transform uppercase
#video
	margin-top 75px
	margin-bottom 116px
	
#noticias
	padding 65px 0 60px 0	
	color noti
	background colorNotiOtNoti
	font-size 15px
#tnyt
	font-family 'Pinyon Script', cursive
#mash
	font-family 'Oswald', sans-serif
	padding 0 55px 
#tnw
	font-family 'Cabin Sketch', cursive
	text-transform uppercase
#fc
	font-family 'Berkshire Swash', cursive
	text-transform uppercase
#wrd
	font-family 'Unkempt', cursive
	text-transform uppercase
	padding 0 65px 
#ted
	font-family 'Oswald', sans-serif
	text-transform uppercase	

#mis_tec
	padding 0
	color colorMisiTechEnter
	font-family 'Varela Round', sans-serif
	background colormistech
#mision
#tech
	font-size 20px
	padding 0
	
#adicionales
	background colorNotiOtNoti
#twit
	text-align center
	margin-left 0
	margin-top 25px
#otrasnoticias
	font-size 20px
	font-family 'Varela Round', sans-serif
	color otranoti
	
#txt1_btn1
	padding 16px 0 16px 0
	background colorenterBtn
	color colorMisiTechEnter
	
#footer
	padding 45px 0 0 0
	text-align center
	font-style bold
	font-size 16px
	text-transform uppercase
	background colorFoo
	color colorNotiOtNoti
#iconoubi	
	margin 0
#madein
	margin 0
	color madecolor
	padding 0 0 25px 0
#bridge
	margin 0
#ksv
	margin 0
	padding 0 0 38px 0
#get
	margin 0
#sendUs
	margin 0
	border-top 1px solid madecolor
	border-size 119px
	border-bottom 1px solid madecolor
	padding 10px 0 0 7px
#iconos
	margin 0
	margin-top 25px	
	
//CLASES
.img1
	margin-top 10px
.img2
	margin-top 45px
.para1
	margin-top 10px
	margin-bottom 78px
	font-size 15px
.para2
	margin-top 10px
	margin-bottom 30px
	font-size 15px
.input 
	color colorMisiTechEnter
	border 0px 
	background colorenterBtn
	height 46px
	font-size 20px
.btn1
	border-radius 5px
	text-transform uppercase	
	padding 10px 25px 10px 25px
	font-size 12px